@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:  linear-gradient(to bottom, #c5d8bf, #ffffff, #c5d8bf );
}
h1 h2 h3 h4{
  font-family: 'Montserrat';
}
h1{ font-size:xx-large;}
h2{
   font-size: x-large; 
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
   }
   
  
.bloclogo {
  display: flex;
  width:450px;
  height: auto;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.4);
 border-radius: 50%;
 justify-content:center;
}
.nav{
  display: flex;
   box-shadow: #c5d8bf;
 margin-left: 20px;
}
.divnav{
  display: flex;
 width: 500px;
  justify-content: space-between;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  gap: 15px;
}
.h2nav{
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  background-color: azure;
}
.titlesection{
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  width: 210px;
  background-color: azure;
  margin-left: 100px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.4);
}
.link{  text-decoration: none;
  color: inherit;}
.about{
  padding: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  /* border-bottom: 1px solid black; */
  margin-bottom: 50px;
}
.apropos{
  background-color: azure;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.4);
}
.portrait{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.4);
}
.chignon{
  display: flex;
  gap: 20px;
  padding-left: 20px;
  margin-top: 20px;
  justify-content: space-around;
  }
 
.image{
  width: 300px;
  height: 400px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.4);
}

input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
  background-color: #c5d8bf;
}
label{margin-right: 0px;
  margin-left: 0px;
  width: 100%;}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c5d8bf;
  color: black;
}

.container {
 
  box-sizing : border-box;
  border-radius:5px;
  background-color:#f2f2f2;
  padding:20px;
  width: 100%;
  max-width: 440px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.4);
}
.titleform  {
  color: black;
  width: 100%;
  
}